/*testcomment*/

@import url('https://fonts.googleapis.com/css?family=Lato');

*
{
  box-sizing: border-box;
}

html
{
  font-size: 100%;
}

body
{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
}

nav
{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul
{
  padding: 0;
  list-style: none;
}

nav li
{
  display: inline-block;
  padding: 0 10px;
}

header
{
  margin: 50px auto 100px;
  text-align: left;
  max-width: 800px;
}

header h1
{
  max-width: 900px;
  font-weight: normal;
}

.banner-current
{
  color: #fff;
  background: #00bab3;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin-bottom: 50px;
  max-width: 900px;
  margin: 50px auto;
}

.banner-current-description
{
  padding: 0 10px 0 0;
}

.banner-current-logo
{
  max-height: 60px;
}

section
{
  max-width: 1200px;
  margin: 0 auto 50px auto;
  text-align: center;
}

section.conference
{
  display: flex;
  text-align: left;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  max-width: 850px;
  margin: 50px auto;
}

@media (max-width: 12000px)
{
  section.conference
  {
    margin: 0;
    max-width: 100%;
  }
}

section img
{
  max-width: 250px;
}

section .text
{
  width: 40%;
  margin-left: 100px;
}

a.button
{
  border: 1px solid #fefefe;
  border-radius: 4px;
  padding: 5px;
  color: #fefefe;
  text-decoration: none;
}

a.button:hover
{
  border: 1px solid #fefefe;
  border-radius: 4px;
  padding: 5px;
  background: #eeeeee;
  color: #101010;
  text-decoration: none;
}

header .next
{
  display: flex;
  margin-top: 70px;
  margin-left: -25px;
  margin-right: -25px;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #fefefe;
}

header .next .pitch
{
  flex-grow: 100%;
}

header .next img
{
  height: 100px;
  max-width: auto;
}

img.association
{
  filter: grayscale(100%);
  max-height: 100px;
  margin: 40px;
}

/* The cover and via logos have weird aspect ratio's that make them look too
 * large under the styles above. Resize a bit. */
img.cover,
img.via
{
  max-height: 60px;
}

.logos
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

section.postal,
section.finance
{
  max-width: 800px;
  text-align: left;
}

section.finance h4
{
  font-weight: normal;
}

.committee
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

.committee .member
{
  padding: 10px 40px;
}

nav
{
  height: 100px;
}

.logo-link img
{
  min-height: 45px;
}

.timeline
{
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
}

.timeline li
{
  border-bottom: 1px solid #ccc;
  padding: 50px 10px;
  position: relative;
}

.timeline li:before
{
  display: block;
  content: attr(data-date);
  text-align: right;
  position: absolute;
  left: -70px;
  top: 75px;
}

footer
{
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  padding: 100px;
}

.all-events-link
{
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  display: block;
}

.conference .singularit img
{
  width: 90%;
<<<<<<< HEAD
}
=======
}
>>>>>>> Achtergrondkleuren van de congressen sluiten nu op elkaar aan, MobilIT logo aangepast & copyright aangepast (onderaan)
